{% extends "biopop/labbase.html" %}
{% block content %}
{% load staticfiles %}
        <link href='http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800' rel='stylesheet' type='text/css'>

        <link rel="stylesheet" href="{% static 'css/gallary.css' %}">

            <div id="latest-blog">
                <div class="container">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="heading-section">
                                <h2>BIOPOP GALLARY</h2>
                                <img src="images/under-heading.png" alt="" >
                            </div><!--heading-setcion end-->
                        </div><!--col-md-12 end-->
                    </div><!--row end-->
                    <div class="row">
		    {% for gallaryRow in gallaryList %}
                        <div class="col">
                            <div class="blog-post">
                                <div class="blog-thumb">
                                    <img src="{{gallaryRow.Path}}" alt="" />
                                </div>
                                <div class="blog-content">
                                    <div class="content-show">
                                        <h4><a href="single-post.html">{{gallaryRow.Title}}</a></h4>
                                        <span>{{gallaryRow.Gallarydate}}</span>
                                    </div>
                                </div>
                            </div>
                        </div>
		    {% endfor %}	
                        <div class="col">
                            <div class="blog-post">
                                <div class="blog-thumb">
                                    <img src="{% static 'images/blogpost2.jpg' %}" alt="" />
                                </div>
                                <div class="blog-content">
                                    <div class="content-show">
                                        <h4><a href="single-post.html">New Great Taste</a></h4>
                                        <span>23 Sep 2084</span>
                                    </div>

                                </div>
                            </div>
                        </div>
                        <div class="col">
                            <div class="blog-post">
                                <div class="blog-thumb">
                                    <img src="{% static 'images/blogpost3.jpg' %}" alt="" />
                                </div>
                                <div class="blog-content">
                                    <div class="content-show">
                                        <h4><a href="single-post.html">Spicy Pizza</a></h4>
                                        <span>14 Sep 2084</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col">
                            <div class="blog-post">
                                <div class="blog-thumb">
                                    <img src="{% static 'images/blogpost4.jpg' %}" alt="" />
                                </div>
                                <div class="blog-content">
                                    <div class="content-show">
                                        <h4><a href="single-post.html">Healthy Food</a></h4>
                                        <span>25 Aug 2084</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col">
                            <div class="blog-post">
                                <div class="blog-thumb">
                                    <img src="{% static 'images/blogpost5.jpg' %}" alt="" />
                                </div>
                                <div class="blog-content">
                                    <div class="content-show">
                                        <h4><a href="single-post.html">Great Breakfast</a></h4>
                                        <span>17 Aug 2084</span>
                                    </div>
                                </div>
                            </div>
                        </div>
			<div class="col">
                            <div class="blog-post">
                                <div class="blog-thumb">
                                    <img src="{% static 'images/blogpost6.jpg' %}" alt="" />
                                </div>
                                <div class="blog-content">
                                    <div class="content-show">
                                        <h4><a href="single-post.html">Fresh Fruit Juice</a></h4>
                                        <span>12 Aug 2084</span>
                                    </div>
                                </div>
                            </div>
                        </div><!--col end-->
                    </div>
                </div>
{% endblock %}
