{% extends "biopop/labbase.html" %}
<!DOCTYPE html>

{% block content %} 

{% load staticfiles %}

  <link rel="stylesheet" href="{% static 'css/adc45b915164.css' %}" type="text/css">
  <link rel="stylesheet" href="{% static 'css/css.css' %}" type="text/css">
  <link rel="stylesheet" href="{% static 'css/css1.css' %}" type="text/css">

<div id="wrapper">

  <section class="hgroup centered">
        <h1>FAQ for Future Student</h1>

        <ul class="breadcrumb pull-right">
            <li>
                <a href="/">Home</a>
            </li>

            <li class="active">REPORTED NEWS</li>
        </ul>
  </section>
<div class="content">

  <div class="container">

    <div class="layout layout-stack-sm layout-main-left">

      <div class="col-sm-4 col-sm-push-8 layout-sidebar">

        <div class="portlet">

          <div class="heading-block">
            <h4>Categories</h4>
          </div>

          <div class="list-group">

            
              <a href="https://www.sellerrepublic.com/faq/#presale-heading" class="list-group-item">2015</a>
           
              <a href="https://www.sellerrepublic.com/faq/#general-heading" class="list-group-item">2014</a>
            
              <a href="https://www.sellerrepublic.com/faq/#billing-heading" class="list-group-item">2013</a>

             <a href="https://www.sellerrepublic.com/faq/#billing-heading" class="list-group-item">2012</a>
            

          </div> <!-- /.list-group -->

        </div> <!-- /.portlet -->

      </div> <!-- /.layout-sidebar -->

      <div class="col-sm-8 col-sm-pull-4 layout-main">

        
          <div id="presale-heading" class="heading-block">
            <h3>2015</h3>
          </div>

          <div id="presale-accordion" class="panel-group accordion-simple">

            
             <li><span>
<b>Hyeonsoo Jeong, Samsun Sung, Taehyung Kwon, Minseok Seo</b>, Kelsey Caetano-Anolles, Sang Ho Choi, <b>Seoae Cho</b>, Arshan Nasir, and <b>Heebal Kim</b>. HGTree: database of horizontally transferred genes determined by tree reconciliation. 
<i><b>Nucleic Acids Research.</b></i> 2015, doi: 10.1093/nar/gkv1245
[<a href="http://nar.oxfordjournals.org/content/early/2015/11/16/nar.gkv1245.abstract" target="_blank">LINK</a>]
</span></li><br><br>

<li><span>
Mingoo Kim, Heewon Seo, Yohan Choi, Inkyu Yoo, <b>Minseok Seo</b>, Chang-Kyu Lee, <b>Heebal Kim</b>, Hakhyun Ka. Analysis of Stage-Specific Gene Expression Profiles in the Uterine Endometrium during Pregnancy in Pigs. 
<i><b>PLoS ONE.</b></i> 2015, DOI: 10.1371/journal.pone.0143436
[<a href="http://www.plosone.org/article/metrics/info:doi/10.1371/journal.pone.0143436" target="_blank">LINK</a>]
</span></li><br><br>

<li><span>
<b>Minseok Seo</b>, Hyun-Jeong Lee, <b>Kwondo Kim</b>, Kelsey Caetano-Anolles, Jin Young Jeong, Sungkwon Park, Young Kyun Oh, <b>Seoae Cho, Heebal Kim</b>. Characterizing milk production related genes in Holstein using RNA-seq.
<i><b>Asian-Australasian Journal of Animal Sciences.</b></i> 2015, Accepted. DOI: http://dx.doi.org/10.5713/ajas.15.0525
[<a href="http://dx.doi.org/10.5713/ajas.15.0525" target="_blank">LINK</a>]
</span></li><br><br>

<li><span>
Kelsey Caetano-Anolles, <b>Minseok Seo</b>, Sandra Rodriguez-Zas, Jae-Don Oh, Jae Yong Han, Kichoon Lee, Tae Sub Park, Sangsu Shin, Zhang Jiao Jiao, Mrinmoy Ghosh, Dong Kee Jeong, <b>Seoae Cho, Heebal Kim</b>, Ki-Duk Song, Hak-Kyo Lee. Comprehensive Identification of Sexual Dimorphism-Associated Differentially Expressed Genes in Two-Way Factorial Designed RNA-Seq Data on Japanese Quail (Coturnix coturnix japonica).
<i><b>PLoS ONE.</b></i> 2015, DOI: 10.1371/journal.pone.0139324 
[<a href="http://journals.plos.org/plosone/article?id=10.1371/journal.pone.0139324" target="_blank">LINK</a>]
</span></li><br><br>

<li><span>
<b>Kwondo Kim, Minseok Seo</b>, Hyunsung Kang, <b>Seoae Cho, Heebal Kim</b>, Kang-Seok Seo. Application of LogitBoost Classifier for Traceability Using SNP Chip Data.
<i><b>PLoS ONE.</b></i> 2015, Accepted </span></li><br><br>

<li><span>
<b>Young-Sup Lee</b>,<b> Donghyun Shin</b>, <b>Wonseok Lee, Mengistie Taye</b>, Kwanghyun Cho, Kyoung-Do Park, <b>Heebal Kim</b>. The prediction of the expected current selection coefficient of single nucleotide polymorphism (SNP) associated with Holstein milk yield, fat and protein contents.
<i><b>AJAS</b></i> 2015, Accepted. [<a href="http://ajas.info/journal/view.php?number=23370" target="_blank">LINK</a>] </span></li><br><br>
          </div> <!-- /.accordion -->
      </div> <!-- /.layout-main -->

    </div> <!-- /.layout -->

  </div> <!-- /.container -->

</div> <!-- /.content -->


</div> <!-- /#wrapper -->

{% endblock %}
