{% extends "biopop/labbase.html" %}
<!DOCTYPE html>

{% block content %} 

{% load staticfiles %}

  <link rel="stylesheet" href="{% static 'css/adc45b915164.css' %}" type="text/css">
  <link rel="stylesheet" href="{% static 'css/css.css' %}" type="text/css">
  <link rel="stylesheet" href="{% static 'css/css1.css' %}" type="text/css">

<div id="wrapper">

  <section class="hgroup centered">
        <h1>PUBLICATION for Categories</h1>

        <ul class="breadcrumb pull-right">
            <li>
                <a href="/">Home</a>
            </li>

            <li class="active">PUBLICATION</li>
        </ul>
  </section>
<div class="content">

  <div class="container">

    <div class="layout layout-stack-sm layout-main-left">

      <div class="col-sm-4 col-sm-push-8 layout-sidebar">

        <div class="portlet">

          <div class="heading-block">
            <h4>Categories</h4>
          </div>

          <div class="list-group">

             <a href="/publication" class="list-group-item">selected</a>
           {% for year in yearList %} 
             <a href="/publication/{{year}}" class="list-group-item">{{year}}</a>
	   {% endfor %}
             <a href="/publication/20042001" class="list-group-item">2004 >> 2001</a>
             <a href="/publication/species" class="list-group-item">By Species</a>
            

          </div> <!-- /.list-group -->

        </div> <!-- /.portlet -->

      </div> <!-- /.layout-sidebar -->

      <div class="col-sm-8 col-sm-pull-4 layout-main">

        
          <div id="presale-heading" class="heading-block">
            <h3>{{year}}</h3>
          </div>

          <div id="presale-accordion" class="panel-group accordion-simple">

           {% for paperRow in paperList %} 
             <li><span>
		{{paperRow.First_author}},{{paperRow.Cor_author}},{{papaerRow.Co_author}}. {{paperRow.Paper_title}}. 
		<i><b>{{paperRow.Journal}}.</b></i> {{paperRow.Pu_year}}, doi: {{paperRow.Doi}}
		[<a href="{{paperRow.link}}" target="_blank">LINK</a>]
		</span></li><br><br>
	    {% endfor %}


<li><span>
<b>AAAAAAAAAAAAA</b>, Hyun-Jeong Lee, <b>Kwondo Kim</b>, Kelsey Caetano-Anolles, Jin Young Jeong, Sungkwon Park, Young Kyun Oh, <b>Seoae Cho, Heebal Kim</b>. Characterizing milk production related genes in Holstein using RNA-seq.
<i><b>Asian-Australasian Journal of Animal Sciences.</b></i> 2015, Accepted. DOI: http://dx.doi.org/10.5713/ajas.15.0525
[<a href="http://dx.doi.org/10.5713/ajas.15.0525" target="_blank">LINK</a>]
</span></li><br><br>

<li><span>
<b>BBBBBBBB</b>, Ki-Duk Song, Hak-Kyo Lee. Comprehensive Identification of Sexual Dimorphism-Associated Differentially Expressed Genes in Two-Way Factorial Designed RNA-Seq Data on Japanese Quail (Coturnix coturnix japonica).
<i><b>PLoS ONE.</b></i> 2015, DOI: 10.1371/journal.pone.0139324 
[<a href="http://journals.plos.org/plosone/article?id=10.1371/journal.pone.0139324" target="_blank">LINK</a>]
</span></li><br><br>

<li><span>
<b>CCCCCCCCCCCC</b>, Hyunsung Kang, <b>Seoae Cho, Heebal Kim</b>, Kang-Seok Seo. Application of LogitBoost Classifier for Traceability Using SNP Chip Data.
<i><b>PLoS ONE.</b></i> 2015, Accepted </span></li><br><br>

          </div> <!-- /.accordion -->
      </div> <!-- /.layout-main -->

    </div> <!-- /.layout -->

  </div> <!-- /.container -->

</div> <!-- /.content -->


</div> <!-- /#wrapper -->

{% endblock %}
