{% extends "biopop/labbase.html" %}
<!DOCTYPE html>

{% block content %} 

{% load staticfiles %}

<div id="wrapper">

  <section class="hgroup centered">
        <h1>FAQ for Future Student</h1>

        <h2>
            We have listed frequently asked questions in order to provide prospective students a better understanding on entrance into our laboratory. Adviser Heebal Kim
        </h2>

        <ul class="breadcrumb pull-right">
            <li>
                <a href="/">Home</a>
            </li>

            <li class="active">REPORTED NEWS</li>
        </ul>
  </section>


<div class="content">

  <div class="container">

    <div class="layout layout-stack-sm layout-main-left"> 
       

          <div id="accordion-help" class="panel-group accordion-simple">
     
              <div class="panel">
                <div class="panel-heading">
                  <h4 class="panel-title">
                    <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion-help" href="https://www.sellerrepublic.com/faq/#4"><i class="fa accordion-caret"></i>
                      Q1) How do I get an admission to the graduate school to join the laboratory of bioinformatics and population genetics? 
                    </a>
                  </h4>
                </div><!-- .panel-heading -->

                <div id="4" class="panel-collapse collapse">
                  <div class="panel-body">
                    <p></p><p>You can do it in two ways: first, through the Department of Animal Science and Biotechnology, College of Agriculture Life Sciences, and second, through the Interdisciplinary program in bioinformatics, College of Natural Sciences. For more details about admission requirements, please visit the following websites.</br>
					- SNU Graduate School Application Guide (Requirements and timeline)</br>
					- SNU Department of Animal Science and Biotechnology, College of Agriculture Life Sciences Introduction</br>
					- SNU Interdisciplinary program in bioinformatics, College of Natural Sciences Introduction</br>
					Although both represent the official courses of SNU, it will be very helpful to have a brief interview with academic adviser (Prof. Heebal Kim) after making an appointment via email or phone call in order to discuss which major would be more suitable for students. </p><p></p>
                  </div><!-- .panel-body -->
                </div> <!-- ./panel-collapse -->
              </div><!-- .panel -->
            
          </div> <!-- /.accordion -->

    </div> <!-- /.layout -->

  </div> <!-- /.container -->

</div> <!-- /.content -->


</div> <!-- /#wrapper -->

{% endblock %}
