{% extends "biopop/labbase.html" %}
<!DOCTYPE html>

{% block content %} 

{% load staticfiles %}

  <link rel="stylesheet" href="{% static 'css/css.css1' %}">
  <link rel="stylesheet" href="{% static 'css/css1.css1' %}">
  <link rel="stylesheet" href="{% static 'css/adc45b915164.css' %}" type="text/css">

<div id="wrapper">
  
<div class="masthead">

  <div class="container">

    <h1 class="masthead-subtitle">
      Frequently Asked Questions
      
    </h1>

  </div> <!-- /.container -->

</div> <!-- /.masthead -->

<div class="content">

  <div class="container">

    <div class="layout layout-stack-sm layout-main-left">

      <div class="col-sm-4 col-sm-push-8 layout-sidebar">

        <div class="portlet">

          <div class="heading-block">
            <h4>Categories</h4>
          </div>

          <div class="list-group">

            
              <a href="https://www.sellerrepublic.com/faq/#presale-heading" class="list-group-item">
                Pre-Sale Questions
              </a>
            

            
              <a href="https://www.sellerrepublic.com/faq/#general-heading" class="list-group-item">
                General Questions
              </a>
            

            
              <a href="https://www.sellerrepublic.com/faq/#billing-heading" class="list-group-item">
                Billing Questions
              </a>
            

          </div> <!-- /.list-group -->

        </div> <!-- /.portlet -->

      </div> <!-- /.layout-sidebar -->

      <div class="col-sm-8 col-sm-pull-4 layout-main">

        
          <div id="presale-heading" class="heading-block">
            <h3>Pre-Sale Questions</h3>
          </div>

          <div id="presale-accordion" class="panel-group accordion-simple">

            
              <div class="panel">
                <div class="panel-heading">
                  <h4 class="panel-title">
                    <a class="accordion-toggle" data-toggle="collapse" data-parent="#presale-accordion" href="https://www.sellerrepublic.com/faq/#18"><i class="fa accordion-caret"></i>
                      Do I need to install anything to use Seller Republic's repricing software?
                    </a>
                  </h4>
                </div><!-- .panel-heading -->

                <div id="18" class="panel-collapse collapse">
                  <div class="panel-body">
                    <p></p><p>Nope! Our software is completely web-based and runs on any modern web browser.  This also means that you can use our software on your tablet, smartphone, or any device that has a web browser.</p><p>We also designed our app to be completely mobile-friendly!  It will look nice and still be easy to use whether you're on your desktop/laptop, tablet, or phone.</p><p></p>
                  </div><!-- .panel-body -->
                </div> <!-- ./panel-collapse -->
              </div><!-- .panel -->
            
              <div class="panel">
                <div class="panel-heading">
                  <h4 class="panel-title">
                    <a class="accordion-toggle" data-toggle="collapse" data-parent="#presale-accordion" href="https://www.sellerrepublic.com/faq/#2"><i class="fa accordion-caret"></i>
                      Do you offer a discounted annual plan?
                    </a>
                  </h4>
                </div><!-- .panel-heading -->

                <div id="2" class="panel-collapse collapse">
                  <div class="panel-body">
                    <p></p><p>No, we currently do not offer an annual plan but we may consider it in the future.</p><p></p>
                  </div><!-- .panel-body -->
                </div> <!-- ./panel-collapse -->
              </div><!-- .panel -->
            
              <div class="panel">
                <div class="panel-heading">
                  <h4 class="panel-title">
                    <a class="accordion-toggle" data-toggle="collapse" data-parent="#presale-accordion" href="https://www.sellerrepublic.com/faq/#12"><i class="fa accordion-caret"></i>
                      Is a credit card required to try out your software?
                    </a>
                  </h4>
                </div><!-- .panel-heading -->

                <div id="12" class="panel-collapse collapse">
                  <div class="panel-body">
                    <p></p><p>No, we like to make things easy for our customers! We offer a fully-functional 14-day free trial with all our plans.  All you need to <a href="https://www.sellerrepublic.com/accounts/signup">sign up</a> is an email address.  You can get started in less than a minute!</p><p></p>
                  </div><!-- .panel-body -->
                </div> <!-- ./panel-collapse -->
              </div><!-- .panel -->
            

            <br class="xs-30">

          </div> <!-- /.accordion -->
        
      
        
          <div id="general-heading" class="heading-block">
            <h3>General Questions</h3>
          </div>

          <div id="general-accordion" class="panel-group accordion-simple">

            
              <div class="panel">
                <div class="panel-heading">
                  <h4 class="panel-title">
                    <a class="accordion-toggle" data-toggle="collapse" data-parent="#general-accordion" href="https://www.sellerrepublic.com/faq/#10"><i class="fa accordion-caret"></i>
                      Can I request a new feature?
                    </a>
                  </h4>
                </div><!-- .panel-heading -->

                <div id="10" class="panel-collapse collapse">
                  <div class="panel-body">
                    <p></p><p>Yes, we would love to hear from you! Please <a href="https://www.sellerrepublic.com/contact/">send us a message</a>.<span></span></p><p></p>
                  </div><!-- .panel-body -->
                </div> <!-- ./panel-collapse -->
              </div><!-- .panel -->
            
              <div class="panel">
                <div class="panel-heading">
                  <h4 class="panel-title">
                    <a class="accordion-toggle" data-toggle="collapse" data-parent="#general-accordion" href="https://www.sellerrepublic.com/faq/#14"><i class="fa accordion-caret"></i>
                      Does repricing ever stop?
                    </a>
                  </h4>
                </div><!-- .panel-heading -->

                <div id="14" class="panel-collapse collapse">
                  <div class="panel-body">
                    <p></p><p>No, our repricer works 24 hours a day, 365 days a year. We run on a secure cloud-based system to ensure total uptime.<br></p><p></p>
                  </div><!-- .panel-body -->
                </div> <!-- ./panel-collapse -->
              </div><!-- .panel -->
            
              <div class="panel">
                <div class="panel-heading">
                  <h4 class="panel-title">
                    <a class="accordion-toggle" data-toggle="collapse" data-parent="#general-accordion" href="https://www.sellerrepublic.com/faq/#9"><i class="fa accordion-caret"></i>
                      Do you reprice 'up' as well as 'down'?
                    </a>
                  </h4>
                </div><!-- .panel-heading -->

                <div id="9" class="panel-collapse collapse">
                  <div class="panel-body">
                    <p></p><p>Yes, our repricer can reprice both up and down. We provide you the option to reprice above/below the current Buy Box Winner or the competition with the current lowest price.</p><p></p>
                  </div><!-- .panel-body -->
                </div> <!-- ./panel-collapse -->
              </div><!-- .panel -->
            

            <br class="xs-30">

          </div> <!-- /.accordion -->
        
      
        
          <div id="billing-heading" class="heading-block">
            <h3>Billing Questions</h3>
          </div>

          <div id="accordion-help" class="panel-group accordion-simple">

            
              <div class="panel">
                <div class="panel-heading">
                  <h4 class="panel-title">
                    <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion-help" href="https://www.sellerrepublic.com/faq/#4"><i class="fa accordion-caret"></i>
                      Am I under any contract?
                    </a>
                  </h4>
                </div><!-- .panel-heading -->

                <div id="4" class="panel-collapse collapse">
                  <div class="panel-body">
                    <p></p><p>Seller Republic is completely contract-free, you just pay on a per month basis. If you want to leave, just cancel your subscription from the <a href="https://www.sellerrepublic.com/accounts/plans-and-billing/">Plans &amp; Billing</a> page and we will cancel your subscription immediately.</p><p></p>
                  </div><!-- .panel-body -->
                </div> <!-- ./panel-collapse -->
              </div><!-- .panel -->
            
              <div class="panel">
                <div class="panel-heading">
                  <h4 class="panel-title">
                    <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion-help" href="https://www.sellerrepublic.com/faq/#11"><i class="fa accordion-caret"></i>
                      Are there any hidden extras/charges?
                    </a>
                  </h4>
                </div><!-- .panel-heading -->

                <div id="11" class="panel-collapse collapse">
                  <div class="panel-body">
                    <p></p><p>Absolutely none, Seller Republic is fully transparent. All our features are available with all plans. The only difference with the plans is the number of active listings/SKUs and we will notify you if you go over so you can decide whether to upgrade your subscription.<span></span></p><p></p>
                  </div><!-- .panel-body -->
                </div> <!-- ./panel-collapse -->
              </div><!-- .panel -->
            
              <div class="panel">
                <div class="panel-heading">
                  <h4 class="panel-title">
                    <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion-help" href="https://www.sellerrepublic.com/faq/#6"><i class="fa accordion-caret"></i>
                      Do you store my credit card information?
                    </a>
                  </h4>
                </div><!-- .panel-heading -->

                <div id="6" class="panel-collapse collapse">
                  <div class="panel-body">
                    <p></p><p>No credit card information is stored on our servers. We use <a href="https://stripe.com/" target="_blank">Stripe.com</a> to process all payments, one of the most secure and reputable payment processors available.<span></span></p><p></p>
                  </div><!-- .panel-body -->
                </div> <!-- ./panel-collapse -->
              </div><!-- .panel -->
            
          
          </div> <!-- /.accordion -->
        

      </div> <!-- /.layout-main -->

    </div> <!-- /.layout -->

  </div> <!-- /.container -->

</div> <!-- /.content -->


</div> <!-- /#wrapper -->

{% endblock %}
