#{% extends "biopop/labbase.html" %}
<!DOCTYPE html>

{% block content %} 

{% load staticfiles %}

  <link rel="stylesheet" href="{% static 'css/adc45b915164.css' %}" type="text/css">

<div id="wrapper">

  <section class="hgroup centered">
        <h1>FAQ for Future Student</h1>

        <h2>
            We have listed frequently asked questions in order to provide prospective students a better understanding on entrance into our laboratory. Adviser Heebal Kim
        </h2>

        <ul class="breadcrumb pull-right">
            <li>
                <a href="/">Home</a>
            </li>

            <li class="active">FAQ</li>
        </ul>
  </section>


<div class="content">

  <div class="container">

    <div class="layout layout-stack-sm layout-main-left"> 
       

          <div id="accordion-help" class="panel-group accordion-simple">
     
              <div class="panel">
                <div class="panel-heading">
                  <h4 class="panel-title">
                    <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion-help" href="https://www.sellerrepublic.com/faq/#4"><i class="fa accordion-caret"></i>
                      Q1) How do I get an admission to the graduate school to join the laboratory of bioinformatics and population genetics? 
                    </a>
                  </h4>
                </div><!-- .panel-heading -->

                <div id="4" class="panel-collapse collapse">
                  <div class="panel-body">
                    <p></p><p>You can do it in two ways: first, through the Department of Animal Science and Biotechnology, College of Agriculture Life Sciences, and second, through the Interdisciplinary program in bioinformatics, College of Natural Sciences. For more details about admission requirements, please visit the following websites.</br>
					- SNU Graduate School Application Guide (Requirements and timeline)</br>
					- SNU Department of Animal Science and Biotechnology, College of Agriculture Life Sciences Introduction</br>
					- SNU Interdisciplinary program in bioinformatics, College of Natural Sciences Introduction</br>
					Although both represent the official courses of SNU, it will be very helpful to have a brief interview with academic adviser (Prof. Heebal Kim) after making an appointment via email or phone call in order to discuss which major would be more suitable for students. </p><p></p>
                  </div><!-- .panel-body -->
                </div> <!-- ./panel-collapse -->
              </div><!-- .panel -->
            
              <div class="panel">
                <div class="panel-heading">
                  <h4 class="panel-title">
                    <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion-help" href="https://www.sellerrepublic.com/faq/#11"><i class="fa accordion-caret"></i>
                      Q2) Does the laboratory perform any benchtop experiments? 
                    </a>
                  </h4>
                </div><!-- .panel-heading -->

                <div id="11" class="panel-collapse collapse">
                  <div class="panel-body">
                    <p></p><p>No, this is a dry lab, focusing only on computer-based data analysis. <span></span></p><p></p>
                  </div><!-- .panel-body -->
                </div> <!-- ./panel-collapse -->
              </div><!-- .panel -->
            
              <div class="panel">
                <div class="panel-heading">
                  <h4 class="panel-title">
                    <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion-help" href="https://www.sellerrepublic.com/faq/#6"><i class="fa accordion-caret"></i>
                    Q3) I have a limited knowledge of computer programming and statistics. Can I still do well in the lab?
                    </a>
                  </h4>
                </div><!-- .panel-heading -->

                <div id="6" class="panel-collapse collapse">
                  <div class="panel-body">
                    <p></p><p>Most students relearn computer programming and statistics during graduate programs. There are currently two programmers, and you will be trained on programming skills needed for our research for a few weeks. We also strongly recommend you take some statistics classes offered for graduate students. If you are familiar with programming language (Python, Perl, C/C++) and statistics (introduction to statistics, linear algebra, linear regression), then it will be very helpful. .<span></span></p><p></p>
                  </div><!-- .panel-body -->
                </div> <!-- ./panel-collapse -->
              </div><!-- .panel -->

			 <div class="panel">
                <div class="panel-heading">
                  <h4 class="panel-title">
                    <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion-help" href="https://www.sellerrepublic.com/faq/#6"><i class="fa accordion-caret"></i>
                   Q4) What kind of research does this laboratory conduct? 
                    </a>
                  </h4>
                </div><!-- .panel-heading -->

                <div id="6" class="panel-collapse collapse">
                  <div class="panel-body">
                    <p></p><p>Basically, we do not impose any limitation on the species we analyze. It is safe to say that we deal with all mammals of which genome information is available; however, we mainly focus on human, monkey, mouse, cow, sheep, pig, and horse. We also perform the comparative analysis with avian species (chicken, turkey, duck and zebra finch). In addition, the metagenome analysis of microorganisms related to food poisoning (vibrio, salmonella and staphylococcus), lactobacillus, and intestinal microorganisms is in progress. We also study viruses related to animals (FMDV, PRRSV, and influenza viruses) and are preparing for the research of evolutionary biology on mollusk. <span></span></p><p></p>
                  </div><!-- .panel-body -->
                </div> <!-- ./panel-collapse -->
            </div><!-- .panel -->
             
			 <div class="panel">
                <div class="panel-heading">
                  <h4 class="panel-title">
                    <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion-help" href="https://www.sellerrepublic.com/faq/#6"><i class="fa accordion-caret"></i>
                    Q5) How can one laboratory explore a variety of species?
                    </a>
                  </h4>
                </div><!-- .panel-heading -->

                <div id="6" class="panel-collapse collapse">
                  <div class="panel-body">
                    <p></p><p>Although we analyze numerous species, our laboratory does not focus on which species to study; instead, we bring all our attention to deciding which analytical method to use on certain species. The reasons are the following. Currently, with the advent of next generation sequencing (NGS) technologies, a vast amount of sequencing data have been accumulated. Researches on thousands of human genomes have been announced and are in progress, and tens of thousands of other species are being increasingly considered. The boundary of analyzing different species has been collapsed. Our laboratory concentrates on finding genomic footprints of a species through the research of evolutionary biology of animals, microorganisms, and viruses. We refer to "domestication gene" as the result of rapid artificial selection in livestock. For microorganisms, this is equivalent to "acclimation gene" Also, it is called the antibiotic resistant gene for pathogenic microorganisms that have survived the antibiotic treatment. Common evolutionary analysis of genome can be applied to every species to draw some conclusions. Therefore, analyzing with which methodology is the focus of our laboratory instead of which species to consider. .<span></span></p><p></p>
                  </div><!-- .panel-body -->
                </div> <!-- ./panel-collapse -->
            </div><!-- .panel -->
          
		   <div class="panel">
                <div class="panel-heading">
                  <h4 class="panel-title">
                    <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion-help" href="https://www.sellerrepublic.com/faq/#6"><i class="fa accordion-caret"></i>
                   Q6) What are the graduation requirements for M.S. and Ph.D. degrees? 
                    </a>
                  </h4>
                </div><!-- .panel-heading -->

                <div id="6" class="panel-collapse collapse">
                  <div class="panel-body">
                    <p></p><p>For Master's program, you should write one thesis to be published in domestic or international SCI(E) journals. During the course of 2 years, some students write 3 or more papers, whereas there are some who cannot write one. As entrance does not guarantee graduation, research period may depend on students. However, you cannot finish within 2 years. For Ph.D. program, you have to write 2 theses to be published in SCI(E). Since our laboratory has a relatively short history, we haven't produced many alumni, but as of Jan. 2011, considering candidates expected to graduate within one year, the number of theses published varies among students from 10 or more to 2~3 theses, and so it seems there are no students concerning about the minimum requirements of 2 SCI papers. We advise students to finish between 3 and 5 years, but this also depends on each student. .<span></span></p><p></p>
                  </div><!-- .panel-body -->
                </div> <!-- ./panel-collapse -->
            </div><!-- .panel -->

			<div class="panel">
                <div class="panel-heading">
                  <h4 class="panel-title">
                    <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion-help" href="https://www.sellerrepublic.com/faq/#6"><i class="fa accordion-caret"></i>
                  Q7) Can you talk about the scholarship support? 
                    </a>
                  </h4>
                </div><!-- .panel-heading -->

                <div id="6" class="panel-collapse collapse">
                  <div class="panel-body">
                    <p></p><p>Scholarship will be decided after the meeting with adviser. It is flexible according to the research funds of the laboratory and will be commensurate with student's qualifications. Though we cannot open the amount to the public, it is okay to assume that tuition for Master's and tuition plus minimum living expenses for Doctor's will be provided. Outstanding students may receive additional scholarships and incentives.<span></span></p><p></p>
                  </div><!-- .panel-body -->
                </div> <!-- ./panel-collapse -->
            </div><!-- .panel -->

          </div> <!-- /.accordion -->

    </div> <!-- /.layout -->

  </div> <!-- /.container -->

</div> <!-- /.content -->


</div> <!-- /#wrapper -->

{% endblock %}
